name: gh-ci-tools

on:
  pull_request:
    branches: 
      - master

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:

  homme_tool_to_scrip:
    if: ${{ github.repository == 'mahf708/E3SM' }}
    defaults:
      run:
        shell: bash -leo pipefail {0}
    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/e3sm-project/containers-ghci:ghci-0.2.1

    steps:
      - 
        name: Checkout
        uses: actions/checkout@v4
        with:
          show-progress: false
          submodules: recursive
      - 
        name: run homme_tool
        run: |
          
          eval $(cime/CIME/Tools/get_case_env)
          mkdir cmake_homme && cmake_homme
          cmake \
          -DBUILD_HOMME_WITHOUT_PIOLIBRARY=OFF \
          -DPREQX_PLEV=26  \
          components/homme
          make -j4 homme_tool
          cd ..
          homme_tool_root=cmake_homme
          cd ${homme_tool_root}
          rm -f ${homme_tool_root}/input.nl
          cat > ${homme_tool_root}/input.nl <<EOF
          &ctl_nl
          ne = 32
          mesh_file = "none"
          /
          &vert_nl    
          /
          &analysis_nl
          tool = 'grid_template_tool'
          output_dir = "./"
          output_timeunits=1
          output_frequency=1
          output_varnames1='area','corners','cv_lat','cv_lon'
          output_type='netcdf'    
          io_stride = 16
          /
          EOF
          # run homme_tool to generate np4 scrip file
          srun -n 2 cmake_homme/src/tool/homme_tool < ${homme_tool_root}/input.nl

      - 
        name: Install Python deps
        uses: mamba-org/setup-micromamba@v2
        with:
          init-shell: bash
          environment-name: docs
          create-args: >-
            python=3.12
            xarray
            numpy
            netcdf4

      # -
      #   name: homme2scrip
      #   run: |
